<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='style_1.css')}}">
    <style>
        p{
            text-align: center; 
            margin: 0;
        }
    </style>
   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <p class="navbar-band username-text">Welcome, {{ username }} Admin!</p>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#ajoy">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse " id="ajoy">
                <ul class="navbar-nav ml-auto" style="margin-left: auto;">
                    <li class="nav-item">
                        <!-- <p class="username-text">Welcome, {{ username }} Admin!</p> -->
                    </li>
                
                    <button class="btn btn-outline-success ml-auto" style="border-radius: 5px; padding: 0px 10px;">
                        <a class="nav-link" href="{{url_for('summary')}}">Summary</a>
                    </button>
                    <button class="btn btn-outline-success ml-2" style="border-radius: 5px; padding: 0px 14px; margin-left: 13px;">

                        <a class="nav-link" href="{{ url_for('admin_logout') }}">Logout</a>
                    </button>
                </ul>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row justify-content-center mt-3">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
            {% for category, message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <div class="container-fluid">
        <div class="row mt-4">
            {% for product,category in category_products %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100" style="height: 308px; width: 217px; border-radius: 18px;">
                    <div class="card-body">
                        <p style="text-align: center; margin: 0;">category:</p>
                        <h5 class="card-title" style="text-align: center;">{{category.name}}</h5>
                        <div class="rectangle_box"><br>
                            <p style="text-align: center; margin: 0; margin-top: -34px;">Product:</p>
                            <b>{{product.name}}</b>
                            <p> Quantity : {{product.quantity}}</p>
                            <p> Price : {{product.price}}/{{product.unit}}</p>
                            
                            <div class="rectangle_box_buttons">
                                <a href="{{ url_for('update_product', id=product.id) }}" class="rectangle_box_button edit" onclick="return confirm('Are you sure, you want to edit {{product.name}} product ?')">Edits</a>
                                <a href="{{ url_for('delete_product', id=product.id) }}" class="rectangle_box_button delete" onclick="return confirm('Are you sure, you want to delete {{product.name}} product ?')">Delete</a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around mt-2">
                            <a href="{{ url_for('update_category', id=category.id) }}" class="btn btn-primary" onclick="return confirm('Are you sure, you want to edit {{category.name}} category ?')">Edits</a>
                            
                            <a href="{{ url_for('delete_category', id=category.id) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{category.name}} category?')">Delete</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{url_for('get_category')}}" class="rectangle-plus">
        <span class="plus">+</span>
    </a>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

</body>
</html>
