
<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='style_2.css')}}">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Left side of the navbar - Username -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <p class="username-text">Welcome, {{ username }}</p>
                </li>
            </ul>

            <!-- Center of the navbar - Search and Search Button -->
            <div class="input-group w-50 mx-auto">
                <!-- <input type="text" class="form-control" placeholder="Search" name="p_search" aria-label="Search" style="width: 65%; border-radius: 3px;">
                <button class="btn btn-outline-success ml-2 " type="submit" style="width: 15%; margin-left: 5px;">Search</button>
            -->
                <form action="{{url_for('search')}}" method="POST" class="input-group w-50 mx-auto">
                    <input type="text" class="form-control" placeholder="Search" name="p_search" aria-label="Search" style="width: 65%; border-radius: 3px;">
                    <button class="btn btn-outline-success ml-2 " type="submit" style=" margin-left: 5px; border-radius: 5px;">Search</button>
                </form>
            </div>

            <button class="btn btn-outline-success ml-auto" style="border-radius: 5px;">
                <a class="nav-link" href="{{url_for('get_product_cart')}}">My Cart</a>
            </button>
            <button class="btn btn-outline-success ml-auto" style="border-radius: 5px; margin-left: 9px;">
                <a class="nav-link" href="#">Profile</a>
            </button>
            <button class="btn btn-outline-success ml-2" style="border-radius: 5px; margin-left: 9px;">

                <a class="nav-link" href="{{ url_for('user_logout') }}">Logout</a>
            </button>
        </div>
    </nav>

   {% block content %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>